<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}سامانه اطلاعات بیمارستان{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/vars.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/print.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/static/js/main.js"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
